{% extends "sidebar.html" %} {% block div %}

<div class = "heading">
    <p>Your Groups</p>
</div>

<div class = "mycard mt-5 mb-5">
    <div class = "rowe plz">

        <div class = "col-4 grp-tile mr-2">
            <p>Best Friends</p>
        </div>

        <div class = "col-4 grp-tile mr-2">
            <p>Fam Bam</p>
        </div>

        <div class = "col-4 grp-tile mr-2">
            <img src="../static/icons/plusSign.png" width = "50" height = "50" class = "grow"/>
        </div>
    </div>
</div>


{% endblock %}